@using System.Security.Claims
@{
    ViewData["Title"] = "Dashboard - Analytics";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}

@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
}

@* ************** Content ************** *@
<div class="row gy-4">
    <!-- Congratulations card -->
    <div class="col-md-12">
        <div class="card">

            <div class="card-body">
                <h4 class="card-title mb-1">Congratulations @User.FindFirstValue(ClaimTypes.Name)! 🎉</h4>
                <p class="pb-0">Best seller of the month</p>
                <h4 class="text-primary mb-1" id="totalsale">₹</h4>
                <p class="mb-2 pb-1">78% of target 🚀</p>
                <a asp-controller="Transactions" asp-action="GetSale" class="btn btn-sm btn-primary">View Sales</a>
            </div>
            <img src="~/img/icons/misc/triangle-light.png" class="scaleX-n1-rtl position-absolute bottom-0 end-0" width="166" alt="triangle background" data-app-light-img="icons/misc/triangle-light.png" data-app-dark-img="icons/misc/triangle-dark.png">
            <img src="~/img/illustrations/trophy.png" class="scaleX-n1-rtl position-absolute bottom-0 end-0 me-4 mb-4 pb-2" width="83" alt="view sales">
        </div>
    </div>
    <!--/ Congratulations card -->
    <!-- Transactions -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Transactions</h5>
                </div>
            </div>
            <div class="card-body" id='content'>

                <h5 class="card-title m-0 me-2">Karimbil - 1</h5>
                <br />
                <div class="row g-3">
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-primary rounded shadow">
                                    <i class="mdi mdi-trending-up mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Sales</div>
                                <h5 class="mb-0" id="sale1">₹</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-success rounded shadow">
                                    <i class="mdi mdi-account-outline mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Expense</div>
                                <h5 class="mb-0" id="expense1">₹</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-warning rounded shadow">
                                    <i class="mdi mdi-cellphone-link mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Income</div>
                                <h5 class="mb-0" id="income1">₹</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-info rounded shadow">
                                    <i class="mdi mdi-currency-rupee mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Revenue</div>
                                <h5 class="mb-0" id="revenue1">₹</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <h5 class="card-title m-0 me-2">Karimbil - 2</h5>
                <br />
                <div class="row g-3">
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-primary rounded shadow">
                                    <i class="mdi mdi-trending-up mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Sales</div>
                                <h5 class="mb-0" id="sale2">₹</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-success rounded shadow">
                                    <i class="mdi mdi-account-outline mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Expense</div>
                                <h5 class="mb-0" id="expense2">₹</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-warning rounded shadow">
                                    <i class="mdi mdi-cellphone-link mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Income</div>
                                <h5 class="mb-0" id="income2">₹</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="d-flex align-items-center">
                            <div class="avatar">
                                <div class="avatar-initial bg-info rounded shadow">
                                    <i class="mdi mdi-currency-rupee mdi-24px"></i>
                                </div>
                            </div>
                            <div class="ms-3">
                                <div class="small mb-1">Revenue</div>
                                <h5 class="mb-0" id="revenue2">₹</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Transactions -->
    <!-- Weekly Overview Chart -->
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-1">Weekly Overview</h5>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="weeklyOverviewDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical mdi-24px"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="weeklyOverviewDropdown">
                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            <a class="dropdown-item" href="javascript:void(0);">Update</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="weeklyOverviewChart"></div>
                <div class="mt-1 mt-md-3">
                    <div class="d-flex align-items-center gap-3">
                        <h3 class="mb-0">45%</h3>
                        <p class="mb-0">Your sales performance is 45% 😎 better compared to last month</p>
                    </div>
                    <div class="d-grid mt-3 mt-md-4">
                        <button class="btn btn-primary" type="button">Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Weekly Overview Chart -->
    <!-- Total Earnings -->
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="card-title m-0 me-2">Total Earning</h5>
                <div class="dropdown">
                    <button class="btn p-0" type="button" id="totalEarnings" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical mdi-24px"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalEarnings">
                        <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                        <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                        <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="mb-3 mt-md-3 mb-md-5">
                    <div class="d-flex align-items-center">
                        <h2 class="mb-0" id="totalearning">₹</h2>
                        <span class="text-success ms-2 fw-medium">
                            <i class="mdi mdi-menu-up mdi-24px"></i>
                            <small>10%</small>
                        </span>
                    </div>
                    <small class="mt-1">Compared to ₹84,325 last year</small>
                </div>
                <ul class="p-0 m-0">
                    <li class="d-flex mb-4 pb-md-2">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/img/icons/misc/zipcar.png" alt="zipcar" class="rounded">
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">Boat Share</h6>
                                <small>Boat</small>
                            </div>
                            <div>
                                <h6 class="mb-2" id="boatshare">₹</h6>
                                <div class="progress bg-label-primary" style="height: 4px;">
                                    <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="d-flex mb-4 pb-md-2">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/img/icons/misc/bitbank.png" alt="bitbank" class="rounded">
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0" >Owner Commission </h6>
                                <small>Ice, Fuel & Other</small>
                            </div>
                            <div>
                                <h6 class="mb-2" id="ownercommission">₹</h6>
                                <div class="progress bg-label-info" style="height: 4px;">
                                    <div class="progress-bar bg-info" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="d-flex mb-md-3">
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="~/img/icons/misc/aviato.png" alt="aviato" class="rounded">
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">Fertilizer</h6>
                                <small>Commision Amount</small>
                            </div>
                            <div>
                                <h6 class="mb-2" id="ferilizer">₹</h6>
                                <div class="progress bg-label-secondary" style="height: 4px;">
                                    <div class="progress-bar bg-secondary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Total Earnings -->
    <!-- Four Cards -->
    <div class="col-xl-4 col-md-6">
        <div class="row gy-4">
            <!-- Total Profit line chart -->
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h4 class="mb-0">₹86.4k</h4>
                    </div>
                    <div class="card-body">
                        <div id="totalProfitLineChart" class="mb-3"></div>
                        <h6 class="text-center mb-0">Total Profit</h6>
                    </div>
                </div>
            </div>
            <!--/ Total Profit line chart -->
            <!-- Total Profit Weekly Project -->
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="avatar">
                            <div class="avatar-initial bg-secondary rounded-circle shadow">
                                <i class="mdi mdi-poll mdi-24px"></i>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="totalProfitID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical mdi-24px"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalProfitID">
                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                <a class="dropdown-item" href="javascript:void(0);">Update</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body mt-mg-1">
                        <h6 class="mb-2">Total Profit</h6>
                        <div class="d-flex flex-wrap align-items-center mb-2 pb-1">
                            <h4 class="mb-0 me-2">₹25.6k</h4>
                            <small class="text-success mt-1">+42%</small>
                        </div>
                        <small>Weekly Project</small>
                    </div>
                </div>
            </div>
            <!--/ Total Profit Weekly Project -->
            <!-- New Yearly Project -->
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="avatar">
                            <div class="avatar-initial bg-primary rounded-circle shadow-sm">
                                <i class="mdi mdi-wallet-travel mdi-24px"></i>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="btn p-0" type="button" id="newProjectID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical mdi-24px"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="newProjectID">
                                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                <a class="dropdown-item" href="javascript:void(0);">Update</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body mt-mg-1">
                        <h6 class="mb-2">New Sale</h6>
                        <div class="d-flex flex-wrap align-items-center mb-2 pb-1">
                            <h4 class="mb-0 me-2">862</h4>
                            <small class="text-danger mt-1">-18%</small>
                        </div>
                        <small>Monthly Sale</small>
                    </div>
                </div>
            </div>
            <!--/ New Yearly Project -->
            <!-- Sessions chart -->
            <div class="col-sm-6">
                <div class="card h-100">
                    <div class="card-header pb-0">
                        <h4 class="mb-0">2,856</h4>
                    </div>
                    <div class="card-body">
                        <div id="sessionsColumnChart" class="mb-3"></div>
                        <h6 class="text-center mb-0">Sessions</h6>
                    </div>
                </div>
            </div>
            <!--/ Sessions chart -->
        </div>
    </div>
</div>

@section Scripts {

    <script>
        var totalsalesamount = 0;
        var totalincomeamount = 0;
        var FertizilerAmount = 0;
        var Ownershare = 0;
        var Fuelamount = 0;
        var totalearningamount = 0;

        $(document).ready(function () {
            LoadDashboardData();
        });

        function LoadDashboardData() {

            var Url = '@Url.Action("GetDashboard", "Dashboards")';
            var Params = '';

            $.ajax({
                type: "POST",
                url: Url,
                data: Params,
                success: function (e) {
                    debugger;
                    response = JSON.parse(e)
                    if (response.length > 0) {
                        debugger;
                        for (let i = 0; i < response.length; i++) {
                            FertizilerAmount = response[0].FertizilerAmount;
                            Ownershare = response[0].Ownershare;
                            Fuelamount = response[0].Fuelamount;
                            totalearningamount = parseFloat(parseFloat(FertizilerAmount) + parseFloat(Ownershare) + parseFloat(Fuelamount)).toFixed(2);

                            if (response[i].BoatId == 1) {
                                if (response[i].Name == 'Sale') {
                                    $('#sale1').append(response[i].TotalAmount).append('K');
                                    totalsalesamount = parseFloat(response[i].TotalAmount);
                                } else if (response[i].Name == 'Expense') {
                                    $('#expense1').append(response[i].TotalAmount).append('K');
                                } else if (response[i].Name == 'Income') {
                                    $('#income1').append(response[i].TotalAmount).append('K');
                                    totalincomeamount = parseFloat(response[i].TotalAmount);
                                } else if (response[i].Name == 'Revenue') {
                                    $('#revenue1').append(response[i].TotalAmount).append('K');
                                }
                            } else if (response[i].BoatId == 2) {
                                if (response[i].Name == 'Sale') {
                                    $('#sale2').append(response[i].TotalAmount).append('K');
                                    totalsalesamount = parseFloat(totalsalesamount) + parseFloat(response[i].TotalAmount);
                                } else if (response[i].Name == 'Expense') {
                                    $('#expense2').append(response[i].TotalAmount).append('K');
                                } else if (response[i].Name == 'Income') {
                                    $('#income2').append(response[i].TotalAmount).append('K');
                                    totalincomeamount = parseFloat(totalincomeamount) + parseFloat(response[i].TotalAmount);
                                } else if (response[i].Name == 'Revenue') {
                                    $('#revenue2').append(response[i].TotalAmount).append('K');
                                }
                            }
                        }
                    } else {
                        $('#sale1').append('0k');
                        $('#expense1').append('0k');
                        $('#income1').append('0k');
                        $('#revenue1').append('0k');
                        $('#sale1').append('0k');
                        $('#expense1').append('0k');
                        $('#income1').append('0k');
                        $('#revenue1').append('0k');

                    }
                    debugger;
                    $('#totalsale').append(totalsalesamount).append('K');

                    $('#totalearning').append(totalearningamount).append('K');
                    $('#boatshare').append(Ownershare).append('K');
                    $('#ownercommission').append(Fuelamount).append('K');
                    $('#ferilizer').append(FertizilerAmount).append('K');

                },
            })
        }
    </script>

}

